USE [master]
GO
/****** Object:  Database [AssignmentDB]    Script Date: 27/06/2025 9:30:19 SA ******/
CREATE DATABASE [AssignmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssignmentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AssignmentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AssignmentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AssignmentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssignmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssignmentDB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 27/06/2025 9:30:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[ManagerID] [int] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 27/06/2025 9:30:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[FeatureID] [int] IDENTITY(1,1) NOT NULL,
	[FeatureURL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeatureRole]    Script Date: 27/06/2025 9:30:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeatureRole](
	[FeatureID] [int] NOT NULL,
	[RoleID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequest]    Script Date: 27/06/2025 9:30:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[StatusID] [int] NULL,
	[ApprovedBy] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_LeaveRequest] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveStatus]    Script Date: 27/06/2025 9:30:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](50) NOT NULL,
	[Description] [text] NOT NULL,
 CONSTRAINT [PK_LeaveStatus] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 27/06/2025 9:30:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Description] [text] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27/06/2025 9:30:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[DepartmentID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 27/06/2025 9:30:19 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [ManagerID]) VALUES (9, N'IT', 5)
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [ManagerID]) VALUES (10, N'Marketing', 11)
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [ManagerID]) VALUES (11, N'Director', 4)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Feature] ON 

INSERT [dbo].[Feature] ([FeatureID], [FeatureURL]) VALUES (1, N'/LeaveRequest/edit')
INSERT [dbo].[Feature] ([FeatureID], [FeatureURL]) VALUES (2, N'/LeaveRequest/update')
INSERT [dbo].[Feature] ([FeatureID], [FeatureURL]) VALUES (3, N'/LeaveRequest/delete')
SET IDENTITY_INSERT [dbo].[Feature] OFF
GO
INSERT [dbo].[FeatureRole] ([FeatureID], [RoleID]) VALUES (1, 1)
INSERT [dbo].[FeatureRole] ([FeatureID], [RoleID]) VALUES (1, 2)
INSERT [dbo].[FeatureRole] ([FeatureID], [RoleID]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[LeaveRequest] ON 

INSERT [dbo].[LeaveRequest] ([RequestID], [UserID], [FromDate], [ToDate], [Reason], [StatusID], [ApprovedBy], [CreatedAt], [UpdatedAt]) VALUES (13, 6, CAST(N'2025-03-06' AS Date), CAST(N'2025-03-27' AS Date), N'đơn của nhân viên 1', 1, 4, CAST(N'2025-03-20T04:12:22.807' AS DateTime), CAST(N'2025-03-20T16:44:38.237' AS DateTime))
INSERT [dbo].[LeaveRequest] ([RequestID], [UserID], [FromDate], [ToDate], [Reason], [StatusID], [ApprovedBy], [CreatedAt], [UpdatedAt]) VALUES (14, 6, CAST(N'2025-03-10' AS Date), CAST(N'2025-03-29' AS Date), N'đơn của nhân viên 2', 1, 4, CAST(N'2025-03-20T04:12:44.830' AS DateTime), CAST(N'2025-03-20T16:44:39.827' AS DateTime))
INSERT [dbo].[LeaveRequest] ([RequestID], [UserID], [FromDate], [ToDate], [Reason], [StatusID], [ApprovedBy], [CreatedAt], [UpdatedAt]) VALUES (15, 6, CAST(N'2025-02-25' AS Date), CAST(N'2025-03-25' AS Date), N'lí do của nhân viên 3', 1, 4, CAST(N'2025-03-20T04:13:51.970' AS DateTime), CAST(N'2025-03-20T16:44:40.923' AS DateTime))
SET IDENTITY_INSERT [dbo].[LeaveRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveStatus] ON 

INSERT [dbo].[LeaveStatus] ([StatusID], [StatusName], [Description]) VALUES (1, N'Approved', N'your leave request has been approved')
INSERT [dbo].[LeaveStatus] ([StatusID], [StatusName], [Description]) VALUES (2, N'Rejected', N'your leave request has been rejected')
INSERT [dbo].[LeaveStatus] ([StatusID], [StatusName], [Description]) VALUES (3, N'Pending', N'your leave request is proccessing')
SET IDENTITY_INSERT [dbo].[LeaveStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (1, N'director', N'head director of the company')
INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (2, N'department leader', N'leader of a department')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [PasswordHash], [FullName], [DepartmentID], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (4, N'dat', N'123', N'Le Tran Trong Dat', 9, CAST(N'2025-03-07T14:30:00.000' AS DateTime), CAST(N'2025-03-07T14:30:00.000' AS DateTime), 1)
INSERT [dbo].[User] ([UserID], [Username], [PasswordHash], [FullName], [DepartmentID], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (5, N'mra', N'111', N'A', 9, CAST(N'2025-03-07T14:30:00.000' AS DateTime), CAST(N'2025-03-07T14:30:00.000' AS DateTime), 1)
INSERT [dbo].[User] ([UserID], [Username], [PasswordHash], [FullName], [DepartmentID], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (6, N'mrb', N'222', N'B', 9, CAST(N'2025-03-07T14:30:00.000' AS DateTime), CAST(N'2025-03-07T14:30:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (4, 1)
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (5, 2)
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (11, 2)
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_User] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_User]
GO
ALTER TABLE [dbo].[FeatureRole]  WITH CHECK ADD  CONSTRAINT [FK_FeatureRole_Feature] FOREIGN KEY([FeatureID])
REFERENCES [dbo].[Feature] ([FeatureID])
GO
ALTER TABLE [dbo].[FeatureRole] CHECK CONSTRAINT [FK_FeatureRole_Feature]
GO
ALTER TABLE [dbo].[FeatureRole]  WITH CHECK ADD  CONSTRAINT [FK_FeatureRole_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[FeatureRole] CHECK CONSTRAINT [FK_FeatureRole_Role]
GO
ALTER TABLE [dbo].[LeaveRequest]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequest_LeaveStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[LeaveStatus] ([StatusID])
GO
ALTER TABLE [dbo].[LeaveRequest] CHECK CONSTRAINT [FK_LeaveRequest_LeaveStatus]
GO
ALTER TABLE [dbo].[LeaveRequest]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequest_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[LeaveRequest] CHECK CONSTRAINT [FK_LeaveRequest_User]
GO
ALTER TABLE [dbo].[LeaveRequest]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequest_User1] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[LeaveRequest] CHECK CONSTRAINT [FK_LeaveRequest_User1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Department]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
USE [master]
GO
